<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="animated fadeInDown">
  <ion-fab-button (click)="togglePopupMenu()">
  <!-- <ion-fab-button (click)="consoleLog()"> -->
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="star"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item" (click)="togglePopupMenu()">
      <ion-icon name="barcode" slot="middle" size="large"></ion-icon>
      <span>Kupony</span>
    </div>
    <div class="popup-menu-item" (click)="togglePopupMenu()">
      <ion-icon name="home" slot="middle" size="large"></ion-icon>
      <span>Lokale</span>
    </div>
  </div>
</div>