<ion-header no-border >
  <ion-toolbar style="background-color:white">
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="primary">
        Weryfikacja kuponu
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding style="background-color:whitesmoke">
  <ion-item>
    <ion-label position="floating">Wpisz kod kuponu</ion-label>
    <ion-input [(ngModel)]="unique_number" name="unique_number"></ion-input>
  </ion-item>
  <br>
  <!-- <ion-button expand="block" type="submit" class="ion-no-margin">Zeskanuj kod QR</ion-button> -->
  
</ion-content>
<ion-footer padding><ion-button expand="block" shape="square" size="default" color="primary" (click)="checkCoupon()">Zweryfikuj kupon</ion-button></ion-footer>