<ion-header no-border >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="secondary" (click)="alertLocation()">
        Weryfikacja kuponu
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label position="floating">Wpisz kod kuponu</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" type="submit" class="ion-no-margin">Zeskanuj kod QR</ion-button>
  
</ion-content>
<ion-footer padding><ion-button expand="block" shape="round" size="default" color="primary" class="ion-no-margin">Zweryfikuj kupon</ion-button></ion-footer>