<ion-header no-border >
  <ion-toolbar color="primary">
      <ion-buttons slot="start" style="position: absolute; left: 10px;">
          <ion-back-button icon="arrow-back" text="" defaultHref=""></ion-back-button>
          <!-- <div class="titleicon">
              <img height="35px" src="assets/img/small.png">
          </div> -->
        </ion-buttons>
    <ion-title text-center>
      <ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="secondary" (click)="alertLocation()">
        Opole
        <ion-icon style="margin-left:10px" name="pin"></ion-icon>
      </ion-button>
    </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id='map_canvas'></div>
