ion-content {
    // --background: #ffd500;
}

:host {
    ion-content {
        --background: whitesmoke;
    }

    ion-item {
        border-radius: 0;
        // border-bottom: 1px dotted var(--ion-color-medium);
        border-bottom: 1px dotted #e4e5e9;
    }

    ion-card {
        margin: 0;
        box-shadow: none;
        --background: #fdfdfd;
        &.no-radius {
            border-radius: 0;
        }
        * {
            font-family: 'Josefin Sans', sans-serif;
        }
        ion-item {
            margin: 0 1rem;
            ion-row {
                text-align: left;
                ion-col {
                    &.coupon-image {
                        display: flex;
                        align-items: flex-end;
                    }
                }
                &.title-company {
                    h4 {
                        margin-bottom: 0.1rem;
                    }
                }
                &.title-offer {
                    h4 {
                        color: var(--ion-color-primary);
                        margin-top: 0.1rem;
                    }
                }
                &.coupons_tags {
                    height: 30px;
                    ion-col {
                        &:first-child {
                            padding-left: 0;
                        }
                        div {
                            text-align: center;
                        }
                    }
                }
                &.info {
                    text-align: center;
                    ion-col {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        ion-icon {
                            padding: 6px;
                            color: #c5c5c5;
                            &.active {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }

        }

    ion-searchbar{
        .searchbar-input-container{
            .searchbar-input{
                border-radius: 30px !important;
            }
        }
    }

    .titleicon {
        width: 2.0rem;
        height: 100%;
        bottom: 0;
        margin-left: 10px;
        text-align: center;
        position: absolute;
        left: 30px;
        top: 8px;
    }

    ion-thumbnail {
        min-width: 5rem;
        min-height: 5rem;
        img {
            max-width: 5rem;
            min-width: 5rem;
        }
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        position: absolute;
        top: 40%;
    }

    .open_hours {
        color: green; font-size:15px; padding-right: 6px; border-right: 1px solid #e3e3e3
    }

    .close_hours {
        color: red; font-size:15px; padding-right: 6px; border-right: 1px solid #e3e3e3
    }
}

.rounded {
    border-radius: 15px !important;
}

ion-tab-bar {
    // // border-top: solid 1px #ececec;
    // width: 70%;
    // margin-left: auto;
    // margin-right: auto;
    // height: 40px;
    // border: solid 0px;
}

ion-tab-button {
    color: #a0a0a0;
}

.active_tab {
    color: #6a2c86;
}
.toggler_screen {
    ion-label {
        &.locals {
            padding: 10px; z-index: 1; position: relative;
            &.active {
                color: #fff !important;
            }
        }
        &.coupons {
            color: rgb(106, 44, 134);
            padding: 10px; z-index: 1; position: relative;
            &.active {
                color: #fff !important;
            }
        }
    }
    .slider {
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgb(106, 44, 134); width: 50%; height: 90%; padding: 10px; border-radius: 25px; position: absolute; z-index: 0; top: 0;
        left: 0;
        right: unset;
        &.switch-left {

        }
        &.switch-right {
            right: 0;
            left: unset !important;
            background-color: rgb(106, 44, 134);
        }
        // &.switch-left {
        //     animation-duration: .5s;
        //     animation-name: slidein;
        // }
    }
}

.icon {
    max-height: 13px;
    width: auto;
    margin: 0px 5px;
}


@keyframes slidein {
  0% {
        left: 0 !important;
  }

  50% {
        left: 50% !important;
  }

  100% {
        right: 0;
        left: unset !important;
  }
}
@keyframes slideout {
  100% {
      right: 0 !important;
  }
}

.closed {
    opacity: 0.2;
}
