ion-content {
    // --background: #ffd500;
}

:host {
    ion-content {
        --background: var(--ion-color-secondary);
    }

    ion-item {
        border-radius: 0;
        // border-bottom: 1px dotted var(--ion-color-medium);
        border-bottom: 1px dotted #e4e5e9;
    }

    ion-card {
        margin: 0;
        --background: #fdfdfd;
        box-shadow: none;
        // margin: 0;
        // box-shadow: none;
        // --background: #fefefe;
        // &.no-radius {
        //     border-radius: 0;
        // }
        &.no-radius {
            border-radius: 0;
        }
        ion-item {
            margin: 0 1rem;
            ion-row {
                text-align: left;
                &.tags {
                    ion-col {
                        &:first-child {
                            padding-left: 0;
                        }
                        div {
                            text-align: center;
                        }
                    }
                }
                &.info {
                    text-align: center;
                    ion-col {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        ion-icon {
                            padding: 6px;
                            color: #c5c5c5;
                            &.active {
                                color: #000;
                            }
                        }
                    }
                }
            }

        }

    }

    ion-searchbar {

    }

    .titleicon {
        // position: absolute;
        // width: 100%;
        width: 2.5rem;
        height: 100%;
        // left: 25px;
        // top: 1px;
        bottom: 0;
        text-align:center;
    }

    ion-thumbnail {
        min-width: 5rem;
        min-height: 5rem;
        img {
            max-width: 5rem;
            min-width: 5rem;
        }
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        position: absolute;
        top: 40%;
    }

    .open_hours {
        color: green; font-size:15px; padding-right: 6px; border-right: 1px solid #e3e3e3
    }

    .close_hours {
        color: red; font-size:15px; padding-right: 6px; border-right: 1px solid #e3e3e3
    }
}

.rounded {
    border-radius: 15px !important;
}

ion-tab-bar {
    border-top: solid 1px #ececec;
}

ion-tab-button {
    color:#6a2c86;
}