<ion-header no-border >
  <ion-toolbar style="background-color:white">
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="primary">
        Zaproponuj zmiany
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding style="background-color:whitesmoke">
  <ion-item>
    <ion-label position="floating">Imię</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Wiadomość</ion-label>
    <ion-textarea rows="6" cols="20"></ion-textarea>
  </ion-item>
  
</ion-content>
<ion-footer padding><ion-button expand="block" shape="square" size="default" color="primary" (click)="presentAlert()">Wyślij</ion-button></ion-footer>