:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        margin: 0;
        box-shadow: none;
        --background: #fdfdfd;
        &.no-radius {
            border-radius: 0;
        }
        * {
            font-family: 'Josefin Sans', sans-serif;
        }
    }


    .titleicon {
        position: absolute;
        // width: 100%;
        width: 2.5rem;
        height: 2rem;
        left: 25px;
        top: 1px;
        bottom: 0;
        text-align:center;
    }

    ion-searchbar {
        background: #fdfdfd;
        // --background: var(--ion-color-light);
        border-radius: 20px 20px 0% 0%;
    }

    ion-thumbnail {
        min-width: 4rem;
        min-height: 4rem;
        img {
            max-width: 4rem;
            min-width: 4rem;
        }
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        position: absolute;
        top: 40%;
      }
}