<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <!-- <ion-button size="small" shape="round" color="medium" (click)="notifications()">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge color="dark" slot="end">2</ion-badge>
          </ion-button> -->
          <ion-back-button icon="arrow-back"  defaultHref=""></ion-back-button>
          <div class="titleicon">
              <img height="35px" src="assets/img/small.png">
          </div>
        </ion-buttons>
    <ion-title text-center>
        <h3>Pizza Hut</h3>
    </ion-title>
    <!-- <ion-buttons slot="end">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" href="#" (click)="openLocationCard('test1','test2')"> 
      <!-- <div style="width:100%;height:100%"><ion-spinner *ngIf="searching" class="spinner-container"></ion-spinner></div> -->
      <ion-thumbnail slot="start">
          <img src="assets/img/pizza-hut.png">
        </ion-thumbnail>
        <ion-grid>
            <!-- <ion-badge style="position: absolute; top:0px; right: 0px; font-size: 20px;" align-items-center color="danger">55</ion-badge> -->
            <!-- <ion-icon style="position: absolute; top:55px; right: 0px; font-size: 40px; color: #00000029" name="star" (click)="alert(123)"></ion-icon> -->
            <ion-row>
              <ion-col text-center>
                <h4><b>Dwie pizze w cenie jednej!</b></h4>
              </ion-col>
            </ion-row>
            <ion-row text-center>
                <ion-col>
                  <div style="background-color:rgba(233, 0, 0, 0.411); color:rgb(214, 5, 5); padding:6px; font-size:10px;">
                    Burger
                  </div>
                </ion-col>
                <ion-col>
                  <div style="background-color:rgba(0, 233, 0, 0.411); color:rgb(0, 182, 0); padding:6px; font-size:10px;">
                    Vege
                  </div>
                </ion-col>
                <ion-col>
                  <div style="background-color:rgba(6, 106, 255, 0.411); color:rgb(0, 130, 182); padding:6px; font-size:10px;">
                    Mecze
                  </div>
                </ion-col>
            </ion-row>
          </ion-grid>    
    </ion-item>
  </ion-card>
</ion-content>
  