<ion-header no-border *ngIf="show === true">
	<ion-toolbar style="background-color:white; border-bottom: solid 1px #e6e6e6;">
		<ion-buttons slot="start" style="position: absolute;">
		  <!-- <ion-button size="small" shape="round" color="medium" (click)="notifications()">
			<ion-icon name="notifications"></ion-icon>
			<ion-badge color="dark" slot="end">2</ion-badge>
		  </ion-button> -->
		  <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref=""></ion-back-button>
		  <!-- <div class="titleicon">
			  <img src="assets/img/small.png">
		  </div> -->
		</ion-buttons>
		<ion-title class="ion-text-center">
			<ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="primary" (click)="alertLocation()">
				{{local_name}}
				<!-- <ion-icon style="margin-left:10px" name="pin"></ion-icon> -->
			</ion-button>
		</ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content *ngIf="show === true" style="background-color:white">
	<!-- <ion-toolbar class="search">
		<ion-searchbar color="light" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" placeholder="Znajdź kupon"></ion-searchbar>
	</ion-toolbar> -->
	<ion-card class="no-radius" style="background-color:white">
		<ion-item lines="none" *ngFor="let item of items" (click)="openCouponCard(item.coupon_id, item.local_name)" style="position: relative" [ngClass]="{'closed': item.is_available == false, '': item.is_available == true }">
			<div style="position: absolute; top:20px; right:0px"><img src="http://repo.foodini.net.pl/storage/locals/{{id_local_data_main}}/logo.png" style="width:30px"></div>
			<ion-thumbnail slot="start">
				<img src="http://repo.foodini.net.pl/storage/coupons/{{ item.coupon_id }}/logo.svg">
			</ion-thumbnail>
			<ion-grid>
				<div *ngIf="item.coupon_left === -1" style="background-color:red; padding:7px; color:white; position: absolute; bottom:10px; right: 5px; font-size: 7px; font-weight: 400;border-radius: 5px;">Bez limitu</div>
				<div *ngIf="item.coupon_left > 0" style="background-color:red; padding:7px; color:white; position: absolute; bottom:10px; right: 5px; font-size: 10px; font-weight: bold; border-radius: 5px;">x{{ item.coupon_left }}</div>
				<ion-row>
					<ion-col class="ion-text-center" size="12">
						<ion-row class="title-company">
							<h4><b>{{ item.local_name }}</b></h4>
						</ion-row>
						<ion-row class="title-offer">
							<h4 style="font-size: 15px;" color="primary"><b>{{ item.coupon_name }}</b></h4>
						</ion-row>
						<ion-row class="tags">
							<ion-col size="4" *ngFor="let tag of item.tags | keyvalue; let i = index">
								<div *ngIf="i === 0" style="background-color: #dcdfbd; color: #4e5133; padding:5px; font-size: 2vw; height: 4vh; display: flex; justify-content: center; align-items: center; text-align: center">
									{{tag.value.name}}
								</div>
								<div *ngIf="i === 1" style="background-color: #d1ddf7; color: #161c21; padding:5px; font-size: 2vw; height: 4vh; display: flex; justify-content: center; align-items: center; text-align: center">
									{{tag.value.name}}
								</div>
								<div *ngIf="i === 2" style="background-color: #f7c8c7; color: #513733; padding:5px; font-size: 2vw; height: 4vh; display: flex; justify-content: center; align-items: center; text-align: center">
									{{tag.value.name}}
								</div>
							</ion-col>
						</ion-row>
					</ion-col>
					<!-- <ion-col size="3" class="coupon-image">
						<ion-row>
							<img src="assets/img/icon.png">
						</ion-row>
					</ion-col> -->
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-row class="info">
							<ion-col>
								<div style="color: green; font-size: 10px; padding-right: 6px; border-right: 1px solid #e3e3e3" *ngIf="item.is_available === true">
									Aktywny
								</div>
								<div style="color: red; font-size: 10px; padding-right: 6px; border-right: 1px solid #e3e3e3" *ngIf="item.is_available === false">
									Nieaktywny
								</div>
								<div style="display: flex; align-items: center; justify-content: flex-start; font-size:15px;">
									<img class="icon" src="/assets/img/first.png" [ngClass]="{'closed': item.eat_in_local == false, '': item.eat_in_local == true }">
									<img class="icon" src="/assets/img/second.png" [ngClass]="{'closed': item.pick_up_local == false, '': item.pick_up_local == true }" >
									<img class="icon" src="/assets/img/third.png" [ngClass]="{'closed': item.delivery == false, '': item.delivery == true }">
								</div>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-card>
</ion-content>
<ion-footer no-padding *ngIf="show === true">
	<ion-grid no-padding>
		<ion-row no-padding>
			<ion-col no-padding size="6"><ion-button style="height: 60px;" no-padding expand="block" shape="square" size="full" color="secondary" (click)="openPhone(phone_number)"><ion-icon color="primary" slot="start" name="call"></ion-icon><span style="color: #6a2c86">Zadzwoń</span></ion-button></ion-col>
			<ion-col no-padding size="6"><ion-button style="height: 60px;" no-padding expand="block" shape="square" size="full" color="primary" (click)="showMenu()"><ion-icon color="secondary" slot="start" name="bookmark"></ion-icon><span style="color: #ffd500">Pokaż menu</span></ion-button></ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
