:host {

    // ion-content {
    //     --background: var(--ion-color-primary);
    // }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }



    ion-card {
        margin: 0;
        box-shadow: none;
        --background: #fdfdfd;
        &.no-radius {
            border-radius: 0;
        }
        * {
            font-family: 'Josefin Sans', sans-serif;
        }
        ion-item {
            margin: 0 1rem;
            ion-row {
                text-align: left;
                ion-col {
                    &.coupon-image {
                        display: flex;
                        align-items: flex-end;
                    }
                }
                &.title-company {
                    h4 {
                        margin-bottom: 0.1rem;
                    }
                }
                &.title-offer {
                    h4 {
                        color: var(--ion-color-primary);
                        margin-top: 0.1rem;
                    }
                }
                &.tags {
                    height: 15px;
                    ion-col {
                        &:first-child {
                            padding-left: 0;
                        }
                        div {
                            text-align: center;
                        }
                    }
                }
                &.info {
                    text-align: center;
                    ion-col {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        ion-icon {
                            padding: 6px;
                            color: #c5c5c5;
                            &.active {
                                color: #000;
                            }
                        }
                    }
                }
            }

        }
    }

    ion-button {
        margin: 0 !important;
        padding: 0 !important;
    }


    .titleicon {
        // position: absolute;
        // width: 100%;
        width: 2.5rem;
        height: 100%;
        // left: 25px;
        // top: 1px;
        bottom: 0;
        text-align:center;
    }

    ion-searchbar {
        background: #fdfdfd;
        // --background: var(--ion-color-light);
        border-radius: 20px 20px 0% 0%;
    }

    ion-thumbnail {
        min-width: 5rem;
        min-height: 5rem;
        img {
            max-width: 5rem;
            min-width: 5rem;
        }
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        position: absolute;
        top: 40%;
      }

    .closed {
        opacity: 0.3;
    }

    a { text-decoration: none }
}