<ion-header no-border>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
		  <!-- <ion-button size="small" shape="round" color="medium" (click)="notifications()">
			<ion-icon name="notifications"></ion-icon>
			<ion-badge color="dark" slot="end">2</ion-badge>
		  </ion-button> -->
		  <ion-back-button icon="arrow-back" text="" defaultHref=""></ion-back-button>
		  <div class="titleicon">
			  <img src="assets/img/small.png">
		  </div>
		</ion-buttons>
		<ion-title class="ion-text-center">
			<ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="secondary" (click)="alertLocation()">
				Pizza Hut
				<!-- <ion-icon style="margin-left:10px" name="pin"></ion-icon> -->
			</ion-button>
		</ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-toolbar class="search">
		<ion-searchbar color="light" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" placeholder="Znajdź kupon"></ion-searchbar>
		<ion-buttons slot="end">
			<ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
				<ion-icon name="options"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-card class="no-radius">
		<ion-item lines="none" *ngFor="let item of items" (click)="openCouponCard(item.coupon_id)">
			<!-- <div style="width:100%;height:100%"><ion-spinner *ngIf="searching" class="spinner-container"></ion-spinner></div> -->
			<ion-thumbnail slot="start">
				<img src="assets/img/pizza-hut.png">
			</ion-thumbnail>
			<ion-grid>
				<ion-badge style="position: absolute; bottom:15px; right: 0px; font-size: 20px;" class="ion-align-items-center" color="danger">x{{ item.coupon_left }}</ion-badge>
				<!-- <ion-icon style="position: absolute; top:55px; right: 0px; font-size: 40px; color: #00000029" name="star" (click)="alert(123)"></ion-icon> -->
				<ion-row>
					<ion-col class="ion-text-center" size="12">
						<ion-row class="title-company">
							<h4><b>{{ item.local_name }}</b></h4>
						</ion-row>
						<ion-row class="title-offer">
							<h4 color="primary"><b>{{ item.coupon_name }}</b></h4>
						</ion-row>
						<ion-row class="tags">
							<ion-col *ngFor="let tag of item.tags | keyvalue">
								<div style="background-color:rgb(106, 44, 134); color: rgb(255, 213, 0); padding:6px; font-size:10px;">
									{{tag.value.name}}
								</div>
							</ion-col>
						</ion-row>
					</ion-col>
					<!-- <ion-col size="3" class="coupon-image">
						<ion-row>
							<img src="assets/img/icon.png">
						</ion-row>
					</ion-col> -->
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-row class="info">
							<ion-col>
								<div style="color: green; font-size: 15px; padding-right: 6px; border-right: 1px solid #e3e3e3">
									Aktywny
								</div>
								<div style="display: flex; align-items: center; justify-content: flex-start; font-size:15px;">
									<ion-icon name="car" [ngClass]="{'active': item.delivery == true, '': item.delivery == false }"></ion-icon>
									<ion-icon name="restaurant" [ngClass]="{'active': item.eat_in_local == true, '': item.eat_in_local == false }" ></ion-icon>
									<ion-icon name="swap" [ngClass]="{'active': item.pick_up_local == true, '': item.pick_up_local == false }"></ion-icon>
								</div>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-card>
</ion-content>
