<ion-header align-title=”center”>
  <ion-toolbar color="light">
    <ion-buttons slot="start" style="position: absolute;">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title text-center>
    	<img src="assets/img/small.png" style="width: 2.5rem;">
	</ion-title>
	<!-- <ion-buttons slot="primary">
		<ion-button (click)="changeFavColor(id_coupon_data_main)">
			<ion-icon slot="icon-only" [color]="favColor" name="star"></ion-icon>
		</ion-button>
	</ion-buttons> -->

  </ion-toolbar>
</ion-header>
<!-- <div class="bg-profile" text-center>
	<ion-badge style="position: absolute; top:60px; right: 0px; font-size: 20px;" align-items-center color="danger">55 kuponów</ion-badge>
	<img src="assets/img/pizza-hut-cover.jpg">
</div> -->
<ion-content fullscreen>
	<ion-card>
		<ion-grid>
			<ion-row style="position: relative">
				<ion-col><img src="http://repo.foodini.net.pl/storage/coupons/{{id_coupon_data_main}}/logo.svg" style="max-height: 100px;"/></ion-col>
				<div style="position: absolute; right:0px;"><ion-icon style="margin-top: 3.5rem; font-size:3rem" (click)="changeFavColor(id_coupon_data_main)" [color]="favColor" name="ios-star"></ion-icon></div>
			</ion-row>
		</ion-grid>
		<!-- <img src="http://repo.foodini.net.pl/storage/coupons/{{id_coupon_data_main}}/logo.svg" style="max-height: 100px;"/> -->
		<ion-card-header text-center>
			<!-- <ion-card-subtitle>{{ item.name }}</ion-card-subtitle> -->
			<ion-card-title>{{ items.name }}</ion-card-title>
		</ion-card-header>
		<ion-card-content class="ion-text-center">
			{{ items.description }}
			<ion-grid style="margin-top:20px">
				<ion-row class="ion-text-center"><ion-col>Dostępność kuponu:</ion-col></ion-row>
				<ion-row class="ion-text-center">
					<ion-col size="1.7" style="max-width: 100%;" class="hours_table" *ngFor="let item_hours of items.available_hours | keyvalue">
						<span *ngIf="item_hours.value.id_day === 1">PN<br><div class="work_hours">{{ item_hours.value.hour_from }}<br>-<br>{{ item_hours.value.hour_to }}</div></span>
						<span *ngIf="item_hours.value.id_day === 2">WT<br><div class="work_hours">{{ item_hours.value.hour_from }}<br>-<br>{{ item_hours.value.hour_to }}</div></span>
						<span *ngIf="item_hours.value.id_day === 3">ŚR<br><div class="work_hours">{{ item_hours.value.hour_from }}<br>-<br>{{ item_hours.value.hour_to }}</div></span>
						<span *ngIf="item_hours.value.id_day === 4">CZ<br><div class="work_hours">{{ item_hours.value.hour_from }}<br>-<br>{{ item_hours.value.hour_to }}</div></span>
						<span *ngIf="item_hours.value.id_day === 5">PT<br><div class="work_hours">{{ item_hours.value.hour_from }}<br>-<br>{{ item_hours.value.hour_to }}</div></span>
						<span *ngIf="item_hours.value.id_day === 6">SB<br><div class="work_hours">{{ item_hours.value.hour_from }}<br>-<br>{{ item_hours.value.hour_to }}</div></span>
						<span *ngIf="item_hours.value.id_day === 0">ND<br><div class="work_hours">{{ item_hours.value.hour_from }}<br>-<br>{{ item_hours.value.hour_to }}</div></span>
					</ion-col>
				</ion-row>
				<ion-row margin-top class="ion-text-center">
					<ion-col size="4"><img src="/assets/img/na-wynos-2.png" style="height:40px; width: auto;margin: 10px auto 0px auto;display: block;"><br>Na wynos</ion-col>
					<ion-col size="4"><img src="/assets/img/na-miejscu-2.png" style="height:40px; width: auto;margin: 10px auto 0px auto;display: block;"><br>Na miejscu</ion-col>
					<ion-col size="4"><img src="/assets/img/na-dowoz-2.png" style="height:40px; width: auto;margin: 10px auto 0px auto;display: block;"><br>Na dowóz</ion-col>
				</ion-row>
				<ion-row margin-top class="ion-text-center">
					<ion-col>Do wykorzystania: raz na 24 godziny</ion-col>
				</ion-row>
				<ion-row class="ion-text-center">
					<ion-col>Pamiętaj, po odebraniu kuponu masz 5 minut na pokazanie go obsłudze.</ion-col>
				</ion-row>
			</ion-grid>
			<ion-item *ngIf="code != null" style="margin-bottom: 50px;">
				<ion-label text-center>
					<h1>Pokaż kupon obsłudze</h1>
					<!-- <img src="assets/img/qr-code.png"> --> 
					<span style="font-size: 50px;">{{ code }}</span>
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<!-- <ion-card *ngIf="code != null">
		<ion-item *ngIf="code != null">
			<ion-label text-center>
				<h1>Pokaż kupon obsłudze</h1>
				<br>
				 <img src="assets/img/qr-code.png">
				<span style="font-size: 50px;">{{ code }}</span>
			</ion-label>
		</ion-item>
	</ion-card> -->
</ion-content>
<ion-footer>
	<ion-grid>
		<ion-row class="cta">
				<!-- <ion-col size="6"><a href="tel:534290115"><ion-button expand="block" shape="round" size="large" color="secondary" (click)="closeModal()"><ion-icon color="primary" slot="start" name="call"></ion-icon><span style="color: #6a2c86">Zadzwoń</span></ion-button></a></ion-col> -->
				<ion-col><ion-button expand="block" shape="square" size="default" color="primary" (click)="generateCode(items.coupon_id)" [disabled]="!button ? 'disabled': null"><span style="color: #ffd500">Odbierz kupon</span></ion-button></ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>