.vertical-center{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 0%;
		max-height: 7rem;
		max-width: 7rem;
		z-index: 1;
	}

	a { text-decoration: none }


.cta {
	ion-button {
		height: 3em;
	}
}
ion-content {
	ion-card {
		margin: 1rem 0 0 0;
		--background: #fdfdfd;
		box-shadow: none;
		// margin: 0;
		// box-shadow: none;
		// --background: #fefefe;
		// &.no-radius {
		//     border-radius: 0;
		// }
		&.no-radius {
			border-radius: 0;
		}
		ion-item {
			margin: 0 1rem;
			ion-row {
				text-align: left;
				&.tags {
					ion-col {
						&:first-child {
							padding-left: 0;
						}
						div {
							text-align: center;
						}
					}
				}
				&.info {
					text-align: center;
					ion-col {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						ion-icon {
							padding: 6px;
							color: #c5c5c5;
							&.active {
								color: #000;
							}
						}
					}
				}
			}

		}

	}
}