<ion-content padding color="light">
  

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <img src="./assets/img/logo_color.png">
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" color="primary">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="primary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text color="primary" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="primary">
          Pole wymagane
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" color="primary">
          <ion-icon name="lock" item-start></ion-icon>
          Hasło
        </ion-label>
        <ion-input color="primary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="primary" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="primary">
          Pole wymagane
        </ion-text>
        </p>
    </form>

    <!-- <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="primary">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p> -->

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="loginClick()" [disabled]="!onLoginForm.valid" tappable>
         <span>Zaloguj się</span>
      </ion-button>

      <!-- <p text-center>
        <ion-text color="light">
          Or Signin with:
        </ion-text>
      </p> -->

      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col text-center size="12">
            lub
          </ion-col>
          <ion-col size="12" text-center no-padding>
            <ion-button size="big" expand="full" shape="round" color="facebook" (click)="loginClick()" tappable>
                <span>Zaloguj się przez Facebook</span>
            </ion-button>
          </ion-col>
          <ion-col size="12" text-center margin-top>
              Zaloguj jako gość
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
</ion-content>