:host {
    ion-content {
        --background: rgb(241, 241, 241);
    }
}

.list-form {
    margin: 10px 0 10px 0;
}

.field {
    color: var(--ion-color-primary);
    margin-left: 10px;
}

ion-button {
    height: 50px !important;
}

.auth-content {
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
}
