<ion-content padding class="animated fadeIn login auth-page">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <div class="auth-content">

        <!-- Logo -->
        <div padding-horizontal margin-bottom text-center class="animated fadeInDown" style="margin-bottom: 20px">
          <img src="assets/img/logo_napis.png" style="height: 160px">
        </div>

        <!-- Login form -->
        <form [formGroup]="onLoginForm" class="list-form">
          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              <ion-icon name="mail" item-start color="primary"></ion-icon>
              <span class="field">Email</span>
            </ion-label>
            <ion-input color="primary" type="email" formControlName="email"></ion-input>
          </ion-item>
          <!-- <p ion-text class="primary" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
            <ion-text color="primary">
              Pole wymagane
            </ion-text>
          </p> -->

          <ion-item no-padding class="animated fadeInUp">
            <ion-label color="primary" position="floating">
              <ion-icon name="lock" item-start color="primary"></ion-icon>
              <span class="field">Hasło</span>
            </ion-label>
            <ion-input color="primary" type="password" formControlName="password"></ion-input>
          </ion-item>
          <!-- <p ion-text color="primary" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
            <ion-text color="primary">
              Pole wymagane
            </ion-text>
            </p> -->
        </form>
        <form [formGroup]="onFacebook" class="list-form">
          <div margin-top margin-bottom style="margin-top: 40px;">
            <ion-button margin icon-left size="medium" expand="full" shape="round" fill="outline" color="primary" (click)="loginClick()" [disabled]="!onLoginForm.valid" tappable>
              <span class="action_button">Zaloguj</span>
            </ion-button>

            <ion-button margin shape="round" expand="full" fill="outline" color="primary" (click)='loginWithFacebook()'>
              <span class="action_button">Logowanie Facebook</span>
            </ion-button>

            <ion-button margin shape="round" expand="full" fill="outline" color="primary" (click)='goToRegister()'>
              <span class="action_button">Załóż Konto</span>
            </ion-button>
          </div>

          <!-- Other links -->
          <div text-center margin-top style="margin-top:20px;">
            <ion-text margin text-center tappable (click)="loginAsGuest()" color="primary" style="border-bottom: solid #5c2383 2px; padding: 6px; font-size: 13px;">
              <strong>Wejdź jako gość</strong>
            </ion-text>
            <br><br><br>
            <!-- <ion-item no-padding lines="none">
              <span class="rules">Oświadczam, że mam więcej niż 18 lat i akceptuje regulamin korzystania z ofert dla pełnoletnich</span>
              <ion-checkbox mode="ios" color="primary" slot="start"></ion-checkbox>
            </ion-item> -->
            <ion-item no-padding lines="none" class="no-click">
              <span style="color: red; font-size:20px; margin-right: 3px">*</span><span class="rules">Akceptuję <a target="_blank" href="http://foodiniapp.pl/regulamin-i-polityka-prywatnosci/">regulamin aplikacji</a> oraz <a target="_blank" href="http://foodiniapp.pl/regulamin-i-polityka-prywatnosci/">politykę prywatności</a></span>
              <ion-checkbox mode="ios" color="primary" slot="start" formControlName="check"></ion-checkbox>
            </ion-item>
            <br>
              <ion-text margin text-center tappable (click)="forgotPass()" color="primary" style="font-size: 11px;">
                <strong>Zapomniałem hasła</strong>
              </ion-text>
          </div>
        </form>
        <!-- <div text-center margin-top *ngIf='userData'>
          <ion-card>
            <ion-card-header>{{ userData.username }}</ion-card-header>
            <img [src]="userData.picture" />
            <ion-card-content>
              <p>Email: {{ userData.email }}</p>
              <p>First Name: {{ userData.first_name }}</p>
              <p>Unique ID: {{ userData.id }}</p>
            </ion-card-content>
          </ion-card>
        </div> -->

      </div>
    </ion-row>
  </ion-grid>
</ion-content>