<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar text-center margin-bottom>
          <img src="assets/img/big.png">
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-list-header text-center color="light">
            <ion-label color="primary"><b>Menu</b></ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
                {{p.title}}
            </ion-item>
		  </ion-menu-toggle>
		  
		  <!-- Manager -->
          <div *ngIf="user_type === '3'">
            <ion-list-header text-center color="light">
              <ion-label color="primary"><b>Manager</b></ion-label>
            </ion-list-header>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/edit-profile" color="primary" lines="none">
                  <ion-icon slot="start" name="list-box" color="light"></ion-icon>
                  <ion-label>
                    Zarządzanie lokalami
                  </ion-label>
                </ion-item>
            </ion-menu-toggle>
          </div>

          <!-- Kelnerka i Manager -->
          <div *ngIf="user_type === '2' || user_type === '3'">
            <ion-list-header text-center color="light">
              <ion-label color="primary"><b>Pracownik</b></ion-label>
            </ion-list-header>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/check-coupon" color="primary" lines="none">
                  <ion-icon slot="start" name="barcode" color="light"></ion-icon>
                  <ion-label>
                    Zweryfikuj kupon
                  </ion-label>
                </ion-item>
            </ion-menu-toggle>
          </div>

          <!-- Zarejestrowany użytkownik -->
          <div *ngIf="user_type === '1' || user_type === '2' || user_type === '3'">
            <ion-list-header text-center color="light">
                <ion-label color="primary"><b>Użytkownik</b></ion-label>
            </ion-list-header>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/edit-profile" lines="none">
                  <ion-icon slot="start" name="person" color="primary"></ion-icon>
                  <ion-label>
                    Profil
                  </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/logout" lines="none">
                  <ion-icon slot="start" name="log-out" color="primary"></ion-icon>
                  <ion-label>
                    Wyloguj
                  </ion-label>
                </ion-item>
            </ion-menu-toggle>
		      </div>  
		  
		   <!-- Niezarejestrowany użytkownik -->
		   <!-- <div *ngIf="user_type != '1' && user_type !='2' && user_type !='3'">
            <ion-list-header text-center color="dark">
                <ion-label color="light"><b>Użytkownik</b></ion-label>
            </ion-list-header>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/edit-profile" color="primary" lines="none">
                  <ion-icon slot="start" name="person-add" color="light"></ion-icon>
                  <ion-label>
                    Rejestracja
                  </ion-label>
                </ion-item>
			      </ion-menu-toggle>
			      <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/edit-profile" color="primary" lines="none">
                  <ion-icon slot="start" name="person" color="light"></ion-icon>
                  <ion-label>
                    Logowanie
                  </ion-label>
                </ion-item>
            </ion-menu-toggle>
          </div>   -->
          <!-- <ion-list-header text-center color="dark">
            <ion-label color="light"><b>Test</b></ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/login" color="primary" lines="none">
              <ion-icon slot="start" name="person-add" color="light"></ion-icon>
              <ion-label>
                Login page
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list> 
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
