<!-- <ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button color="primary" (click)="closeModal()">
				<ion-icon name="close" color="light"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content fullscreen>
	<ion-card>
		<ion-item>

		</ion-item>
	</ion-card>
</ion-content> -->
<ion-header>
	<ion-toolbar style="background-color:white">
		<ion-buttons slot="start">
			<ion-button (click)="closeModal()">
				<ion-icon name="ios-arrow-back" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			<ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="primary">
				Filtry
			</ion-button>
		</ion-title>
	</ion-toolbar>
</ion-header>

  <ion-content>
	  <ion-card class="bg-white">
		  <ion-card-content>
			<ion-grid>
				<ion-row >
					<ion-col>
						<h4>Sortuj według...</h4>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="12">
						<ion-select value="price" okText="Zastosuj" cancelText="Anuluj" style="font-size: 14px;">
							<ion-select-option *ngFor="let item of sortWay" value="price" style="font-size: 14px;">{{item}}</ion-select-option>
						</ion-select>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="ion-padding-top">
						<h4>Kategorie</h4>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="3" text-center>
						<div style="background-color:rgba(220, 223, 189, 1); color:rgb(86, 86, 75); padding:6px; font-size:14px;" (click)="closeModal()">
							Pizza
						</div>
					</ion-col>
					<ion-col size="3" text-center>
						<div style="background-color:rgba(209, 221, 247, 1); color:rgb(102, 108, 119); padding:6px; font-size:14px;" (click)="closeModal()">
							Kebab
						</div>
					</ion-col>
					<ion-col size="3" text-center>
						<div style="background-color:rgba(247, 200, 3, 1); color:rgb(119, 96, 96); padding:6px; font-size:14px;" (click)="closeModal()">
							Sushi
						</div>
					</ion-col>
					<ion-col size="3" text-center>
						<div style="background-color:rgba(251, 191, 211, 1); color:rgb(119, 96, 96); padding:6px; font-size:14px;" (click)="closeModal()">
							Sałatki
						</div>
					</ion-col>
					<ion-col size="3" text-center>
						<div style="background-color:rgba(189, 223, 203, 1); color:rgb(119, 96, 96); padding:6px; font-size:14px;" (click)="closeModal()">
							Ramen
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		  </ion-card-content>
	  </ion-card>


  </ion-content>

