<ion-header no-border >
  <ion-toolbar style="background-color:white">
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button shape="round" fill="clear" class="ion-align-self-center" size="medium" color="primary">
        FOODINI MANAGER
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Twoje lokale:
    </ion-list-header>
    <ion-item *ngFor="let item of items" (click)="presentActionSheet(item.local_id)">
      <ion-avatar slot="start">
        <img src="http://repo.foodini.net.pl/storage/locals/{{item.local_id}}/logo.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
