<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title text-center>
    	{{ items.name }}
	</ion-title>
	<ion-buttons slot="primary">
		<ion-button (click)="changeFavColor()">
			<ion-icon slot="icon-only" [color]="favColor" name="star"></ion-icon>
		</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="bg-profile" text-center>
	<ion-badge style="position: absolute; top:60px; right: 5px; font-size: 20px;" align-items-center color="danger">{{ items.coupons_count }}</ion-badge>
	<img src="assets/img/pizza-hut-cover.jpg">
</div>
<div class="vertical-center">
	<div class="center">
		<img src="assets/img/pizza-hut.png" class="ion-align-self-end" style="background-color: #ffd500;border-radius: 40px;">
	</div>
</div>
<ion-content padding>
	<ion-card class="bg-white" no-margin>
		<ion-card-content>
			<ion-grid>
				<ion-row text-center>
					<ion-col style="margin-top:20px;" *ngFor="let tag of items.tags | keyvalue">
						<div style="background-color:rgb(106, 44, 134); color: rgb(255, 213, 0); padding:6px; font-size:10px;">
						{{tag.value.name}}
						</div>
					</ion-col>
				</ion-row>
				<ion-row margin text-center>
					<ion-col [ngClass]="{'': items.local_open_status == true, 'closed': items.local_open_status == false }">LOKAL<br><img style="height:30px; width: auto;margin: auto;display: block;" src="assets/img/lokal.png"><br>OTWARTE</ion-col>
					<ion-col [ngClass]="{'': items.kitchen_open_status == true, 'closed': items.kitchen_open_status == false }">KUCHNIA<br><img style="height:30px; width: auto;margin: auto;display: block;" src="assets/img/kuchnia.png"><br>OTWARTE</ion-col>
					<ion-col [ngClass]="{'': items.delivery_open_status == true, 'closed': items.delivery_open_status == false }">DOWÓZ<br><img style="height:30px; width: auto;margin: auto;display: block;" src="assets/img/dowoz.png"><br>ZAMKNIĘTE</ion-col>
				</ion-row>
				<ion-row text-center>
					<ion-col>PON<br><ion-button size="small" color="primary" style="font-size:9px">8-16</ion-button></ion-col>
					<ion-col>WT<br><ion-button size="small" color="primary" style="font-size:9px">8-16</ion-button></ion-col>
					<ion-col>ŚR<br><ion-button size="small" color="primary" style="font-size:9px">8-16</ion-button></ion-col>
					<ion-col>CZW<br><ion-button size="small" color="primary" style="font-size:9px">8-16</ion-button></ion-col>
					<ion-col>PT<br><ion-button size="small" color="primary" style="font-size:9px">8-16</ion-button></ion-col>
					<ion-col>SB<br><ion-button size="small" color="primary" style="font-size:9px">8-16</ion-button></ion-col>
					<ion-col>ND<br><ion-button size="small" color="primary" style="font-size:9px">8-16</ion-button></ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<br>
	<ion-card class="bg-white" no-margin style="margin-top:10px;">
			<ion-list>
				<ion-list-header>
					Informacje
				</ion-list-header>

				<ion-item>
					<ion-icon name="pin" color="primary" slot="start"></ion-icon>
					<ion-label>
						<a href="http://maps.google.com/?q={{items.address}}"><h2>{{ items.address }}</h2></a>
					</ion-label>
				</ion-item>

				<ion-item>
					<ion-icon name="call" color="primary" slot="start"></ion-icon>
					<ion-label>
						<a href="tel:664727097"><h2>664 727 097</h2></a>
					</ion-label>
				</ion-item>
			</ion-list>
		<ion-card-content>
			<ion-grid>
				<ion-row text-center>
					<ion-col [ngClass]="{'': items.cash_payment == true, 'closed': items.cash_payment == false }"><img src="assets/img/gotowka.png" style="height:50px; width: auto;margin: auto;display: block;"><br>GOTÓWKA</ion-col>
					<ion-col [ngClass]="{'': items.creditcards_payment == true, 'closed': items.creditcards_payment == false }"><img src="assets/img/karta.png" style="height:50px; width: auto;margin: auto;display: block;"><br>KARTA</ion-col>
					<ion-col [ngClass]="{'': items.blik_payment == true, 'closed': items.blik_payment == false }"><img src="assets/img/blik.png" style="height:50px; width: auto;margin: auto;display: block;"><br>BLIK</ion-col>
					<ion-col [ngClass]="{'': items.contactless_payment == true, 'closed': items.contactless_payment == false }"><img src="assets/img/zblizeniowo.png" style="height:50px; width: auto;margin: auto;display: block;"><br>ZBLIŻENIOWO</ion-col>
				</ion-row>
				<ion-row>
					<ion-card-content>{{ items.description }}</ion-card-content>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-grid>
		<ion-row class="cta">
			<ion-col size="6"><a href="tel:534290115"><ion-button expand="block" shape="round" size="default" color="secondary" (click)="closeModal()"><ion-icon color="primary" slot="start" name="call"></ion-icon><span style="color: #6a2c86">Zadzwoń</span></ion-button></a></ion-col>
			<ion-col size="6"><ion-button expand="block" shape="round" size="default" color="primary" (click)="openCouponList()"><ion-icon color="secondary" slot="end" name="barcode"></ion-icon><span style="color: #ffd500">Kupony</span></ion-button></ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
