.vertical-center{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0%;
	max-height: 7rem;
	max-width: 7rem;
	z-index: 1;
}

a { text-decoration: none }

.cta {
	ion-button {
		height: 3em;
	}
}

.closed img{
	opacity: 0.2;
}

.work_hours {
	color: gray;
    line-height: 12px;
    font-size: 11px;
    margin-top: 8px;
}

.hours_table {
	border-top: solid 1px #f5f5f5;
	border-bottom: solid 1px #f5f5f5;
}

ion-title {
	font-weight: 400;
    font-size: 1rem;
}

.tags {
	height: 0;
	opacity: 0;
	&.active {
		height: 100%;
	opacity: 1;
	}
}