.vertical-center{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0%;
	max-height: 7rem;
	max-width: 7rem;
	z-index: 1;
}

a { text-decoration: none }

.cta {
	ion-button {
		height: 3em;
	}
}

.closed {
	opacity: 0.3;
}

