.vertical-center{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0%;
	max-height: 7rem;
	max-width: 7rem;
	z-index: 1;
}

a { text-decoration: none }

.cta {
	ion-button {
		height: 3em;
	}
}

.closed {
	opacity: 0.3;
}

.work_hours {
	color: gray;
    line-height: 12px;
    font-size: 11px;
    margin-top: 8px;
}

.hours_table {
	border-top: solid 1px #6a2c86;
	border-bottom: solid 1px #6a2c86;
}